.body-text {
    font-family: Calibri, sans-serif;
    text-align: center;
}

html,
body {
    margin: 0;
    padding: 0;
}

.body-bg {
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(ellipse, #ffb1ff 12%, #8d2ced);
    background-repeat: repeat-y;
    overflow-x: hidden;
    overflow-y: auto;
}

.title {
    position: relative;
    font-size: 6vmin;
    word-break: keep-all;
    font-weight: bolder;
    filter: drop-shadow(0 0 30px #663399);
    padding: 1vh 0;
}

.pfp {
    position: relative;
    text-align: center;
    padding: 2.5vh 0 12.5vh;
}

.pfp-img {
    width: auto;
    height: 30vmin;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 30px #663399);
}

.links {
    position: relative;
}

.link-img {
    width: auto;
    height: 8vmin;
    padding: 2.5vh 2.5vw 0;
    filter: drop-shadow(0px 0px 40px #663399);
    vertical-align: top;
}

.discord-copy {
    border: none !important;
    background: transparent;
    cursor: pointer;
}

.discord-tooltip {
    font-size: 2vmin;
    padding: 0 0 2.5vh;
    filter: drop-shadow(0px 0px 30px #663399);
}