.body-text {
    font-family: Calibri, sans-serif;
    text-align: center;
}

html,
body {
    margin: 0;
    padding: 0;
}

.body-bg {
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(ellipse, #ffb1ff 12%, #8d2ced);
    background-repeat: repeat-y;
    overflow-x: hidden;
    overflow-y: hidden;
}

.title {
    position: relative;
    font-size: 5vh;
    font-weight: bolder;
    filter: drop-shadow(0px 0px 30px #663399);
    padding: 2vh 0;
}

.pfp {
    position: relative;
    text-align: center;
    padding: 5vh 0 12.5vh;
}

.links {
    position: relative;
}

.link-img {
    width: auto;
    height: 7.5vh;
    padding: 2.5vh 2.5vw 0;
    filter: drop-shadow(0px 0px 40px #663399);
    vertical-align: top;
}

.pfp-img {
    width: auto;
    height: 30vh;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 30px #663399);
}

.discord-copy {
    border: none !important;
    background: transparent;
    cursor: pointer;
}

.discord-tooltip {
    font-size: 2vh;
    padding: 0 0 2.5vh;
    filter: drop-shadow(0px 0px 30px #663399);
}